.body {
  height: 100vh;
  background-image: url('../assets/images/bg-main.jpg');
  background-size: cover;
  background-repeat: repeat-y;
}

#content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

.bg-image-container {
  height: 100%;
}

.height-60vh {
  height: 60vh;
}

#contactTabContent {
  background-image: url('../assets/images/spices.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#ourSpaceTabContent {
  background-image: url('../assets/images/locro.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

#ourMenuTabContent {
  background-image: url('../assets/images/empanadas.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

#reservationsTabContent {
  background-image: url('../assets/images/humitas.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
